html, body{
 margin: 0px;
 padding: 0;
 text-align: center;
 font-family: verdana,sans-serif;
}

#header{
}

#bodyWrapper{background-color: #231F20;
 color: #FFFFFF;
 margin: -16px;
 text-align: center;
 position: center;
 width: 1024px;
 height: 800px;
 }